# Emacs temporary and backup files
*~
\#*#
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.#*

# logs
logs/

logs/
venv/
data/

# browser state
fb_browser_state.json

# local files
*.local.py

# Python cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# visor
visor/node_modules
